In [16]:
%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [13]:
#pandas used for data manipulation
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

#seaborn is used to create visualization
import seaborn as sb

In [4]:
#this is loaded in a pandas dataframe in memory
uber = pd.read_csv('uber-raw-data-apr14.csv')

In [18]:
uber['Date/Time']
#this is a string
#but it should be in a date-time format that Python understands

0           4/1/2014 0:11:00
1           4/1/2014 0:17:00
2           4/1/2014 0:21:00
3           4/1/2014 0:28:00
4           4/1/2014 0:33:00
5           4/1/2014 0:33:00
6           4/1/2014 0:39:00
7           4/1/2014 0:45:00
8           4/1/2014 0:55:00
9           4/1/2014 1:01:00
10          4/1/2014 1:19:00
11          4/1/2014 1:48:00
12          4/1/2014 1:49:00
13          4/1/2014 2:11:00
14          4/1/2014 2:25:00
15          4/1/2014 2:31:00
16          4/1/2014 2:43:00
17          4/1/2014 3:22:00
18          4/1/2014 3:35:00
19          4/1/2014 3:35:00
20          4/1/2014 3:41:00
21          4/1/2014 4:11:00
22          4/1/2014 4:15:00
23          4/1/2014 4:19:00
24          4/1/2014 4:20:00
25          4/1/2014 4:26:00
26          4/1/2014 4:27:00
27          4/1/2014 4:38:00
28          4/1/2014 4:47:00
29          4/1/2014 4:49:00
                 ...
564486    4/30/2014 22:25:00
564487    4/30/2014 22:25:00
564488    4/30/2014 22:25:00
564489    4/30/2014 22:26:00
564490    4/30/2014 22:27:00
564491    4/30/2014 22:27:00
564492    4/30/2014 22:28:00
564493    4/30/2014 22:29:00
564494    4/30/2014 22:32:00
564495    4/30/2014 22:35:00
564496    4/30/2014 22:36:00
564497    4/30/2014 22:42:00
564498    4/30/2014 22:46:00
564499    4/30/2014 22:47:00
564500    4/30/2014 22:50:00
564501    4/30/2014 22:51:00
564502    4/30/2014 22:56:00
564503    4/30/2014 22:57:00
564504    4/30/2014 22:58:00
564505    4/30/2014 22:58:00
564506    4/30/2014 23:00:00
564507    4/30/2014 23:04:00
564508    4/30/2014 23:05:00
564509    4/30/2014 23:15:00
564510    4/30/2014 23:18:00
564511    4/30/2014 23:22:00
564512    4/30/2014 23:26:00
564513    4/30/2014 23:31:00
564514    4/30/2014 23:32:00
564515    4/30/2014 23:48:00
Name: Date/Time, Length: 564516, dtype: object

In [6]:
uber.shape

(564516, 4)

In [7]:
uber.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [11]:
uber.columns

Index(['Date/Time', 'Lat', 'Lon', 'Base'], dtype='object')

In [14]:
uber.tail()

                 Date/Time      Lat      Lon    Base
564511  4/30/2014 23:22:00  40.7640 -73.9744  B02764
564512  4/30/2014 23:26:00  40.7629 -73.9672  B02764
564513  4/30/2014 23:31:00  40.7443 -73.9889  B02764
564514  4/30/2014 23:32:00  40.6756 -73.9405  B02764
564515  4/30/2014 23:48:00  40.6880 -73.9608  B02764

In [15]:
uber

                 Date/Time      Lat      Lon    Base
0         4/1/2014 0:11:00  40.7690 -73.9549  B02512
1         4/1/2014 0:17:00  40.7267 -74.0345  B02512
2         4/1/2014 0:21:00  40.7316 -73.9873  B02512
3         4/1/2014 0:28:00  40.7588 -73.9776  B02512
4         4/1/2014 0:33:00  40.7594 -73.9722  B02512
5         4/1/2014 0:33:00  40.7383 -74.0403  B02512
6         4/1/2014 0:39:00  40.7223 -73.9887  B02512
7         4/1/2014 0:45:00  40.7620 -73.9790  B02512
8         4/1/2014 0:55:00  40.7524 -73.9960  B02512
9         4/1/2014 1:01:00  40.7575 -73.9846  B02512
10        4/1/2014 1:19:00  40.7256 -73.9869  B02512
11        4/1/2014 1:48:00  40.7591 -73.9684  B02512
12        4/1/2014 1:49:00  40.7271 -73.9803  B02512
13        4/1/2014 2:11:00  40.6463 -73.7896  B02512
14        4/1/2014 2:25:00  40.7564 -73.9167  B02512
15        4/1/2014 2:31:00  40.7666 -73.9531  B02512
16        4/1/2014 2:43:00  40.7580 -73.9761  B02512
17        4/1/2014 3:22:00  40.7238 -73.9821  B02512
18        4/1/2014 3:35:00  40.7531 -74.0039  B02512
19        4/1/2014 3:35:00  40.7389 -74.0393  B02512
20        4/1/2014 3:41:00  40.7619 -73.9715  B02512
21        4/1/2014 4:11:00  40.7530 -74.0042  B02512
22        4/1/2014 4:15:00  40.6561 -73.9531  B02512
23        4/1/2014 4:19:00  40.7250 -73.9844  B02512
24        4/1/2014 4:20:00  40.6950 -74.1783  B02512
25        4/1/2014 4:26:00  40.9859 -74.1578  B02512
26        4/1/2014 4:27:00  40.6879 -74.1814  B02512
27        4/1/2014 4:38:00  40.6878 -74.1816  B02512
28        4/1/2014 4:47:00  40.7234 -73.9974  B02512
29        4/1/2014 4:49:00  40.7336 -73.9900  B02512
...                    ...      ...      ...     ...
564486  4/30/2014 22:25:00  40.7342 -74.0101  B02764
564487  4/30/2014 22:25:00  40.7412 -73.9792  B02764
564488  4/30/2014 22:25:00  40.7633 -73.9867  B02764
564489  4/30/2014 22:26:00  40.7549 -73.9845  B02764
564490  4/30/2014 22:27:00  40.7210 -73.9850  B02764
564491  4/30/2014 22:27:00  40.7025 -74.0127  B02764
564492  4/30/2014 22:28:00  40.7568 -73.9848  B02764
564493  4/30/2014 22:29:00  40.7446 -73.9837  B02764
564494  4/30/2014 22:32:00  40.7013 -73.9367  B02764
564495  4/30/2014 22:35:00  40.7213 -73.9948  B02764
564496  4/30/2014 22:36:00  40.7587 -73.9723  B02764
564497  4/30/2014 22:42:00  40.7325 -73.9969  B02764
564498  4/30/2014 22:46:00  40.8152 -73.9433  B02764
564499  4/30/2014 22:47:00  40.7643 -73.9868  B02764
564500  4/30/2014 22:50:00  40.7650 -73.9773  B02764
564501  4/30/2014 22:51:00  40.7436 -73.9848  B02764
564502  4/30/2014 22:56:00  40.7313 -73.9940  B02764
564503  4/30/2014 22:57:00  40.8007 -73.9565  B02764
564504  4/30/2014 22:58:00  40.7603 -73.9870  B02764
564505  4/30/2014 22:58:00  40.7419 -73.9866  B02764
564506  4/30/2014 23:00:00  40.7316 -73.9891  B02764
564507  4/30/2014 23:04:00  40.7267 -73.9937  B02764
564508  4/30/2014 23:05:00  40.7788 -73.9600  B02764
564509  4/30/2014 23:15:00  40.7420 -74.0037  B02764
564510  4/30/2014 23:18:00  40.7514 -74.0066  B02764
564511  4/30/2014 23:22:00  40.7640 -73.9744  B02764
564512  4/30/2014 23:26:00  40.7629 -73.9672  B02764
564513  4/30/2014 23:31:00  40.7443 -73.9889  B02764
564514  4/30/2014 23:32:00  40.6756 -73.9405  B02764
564515  4/30/2014 23:48:00  40.6880 -73.9608  B02764

[564516 rows x 4 columns]